@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 242 42% 7%;
    --foreground: 0 0% 100%;
    --card: 242 42% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 242 42% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 314 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 100% 50%;
    --secondary-foreground: 242 42% 10%;
    --muted: 242 42% 20%;
    --muted-foreground: 242 42% 70%;
    --accent: 314 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 242 42% 25%;
    --input: 242 42% 20%;
    --ring: 314 100% 45%;
    --radius: 1rem;
  }

  .dark {
    --background: 242 42% 7%;
    --foreground: 0 0% 100%;
    --card: 242 42% 12%;
    --card-foreground: 0 0% 100%;
    --primary: 314 100% 45%;
    --secondary: 194 100% 50%;
    --muted: 242 42% 20%;
    --muted-foreground: 242 42% 70%;
    --border: 242 42% 25%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}